body {
    margin: 0;
    padding: 0;
    text-align: center;
}
.h-cursor-pointer:hover{
    cursor: pointer;
}
.main-region{
    background-color: #f5f5f5;
}
.t-a-l{
    text-align: left;
}
.t-a-r{
    text-align: right;
}
.min-height-dialog{
    min-height: 300px;
}